DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!5s92f)unt&&ads30=nm6_8$8%c^ux8mdaiw8=%294$2"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api.pandemiia.in.ua
DJANGO_STATIC_ROOT=static/
DJANGO_MEDIA_ROOT=media/
DJANGO_DATABASE_URL=sqlite:///db.sqlite3
# DJANGO_DATABASE_URL=postgres://pdm_db_user:c3hZkAjmw8TPAgX@localhost:5432/pdm_db
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com

DJANGO_CELERY_BROKER_URL=redis://localhost:6379/1
DJANGO_CELERY_BACKEND=redis://localhost:6379/1
DJANGO_CELERY_ALWAYS_EAGER=off

DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_TEST_RUN=off

DJANGO_HEALTH_CHECK_BODY="Success"
DJANGO_LOG_SQL=off